/********
CONTAINER
*********/

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 30px;

}

/********
   NAV
*********/

#nav {
	font-size: 14px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.50);
	text-align: center;
}

#nav a {
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	color: #fff;
	font-family: "Quicksand";
}

#nav a:hover {
	color: #12d2e2;
}


/********
  BANNER
*********/

#banner-opacity {
	height: 650px;
	position: relative;
}

#banner {
	position: absolute;
	width: 100%;
	height: 100%;	
	background-image: url("../img/bread.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.65;
	border-bottom: 1px solid #f4f4f4;
}

#banner-text {
	color: #fff;
	height: 200px;
	width: 550px;
	font-family: "Quicksand";
	font-size: 55px;
	position: relative;
	top: 170px;
	margin: 0 auto;
	text-align: center;
	line-height: 200px;
	border-radius: 5px;
	border: 1px solid #c1c9d6;
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);

}

#banner-text span {
	font-family: "Sacramento";
}

/********
   MAIN
*********/

#main {
	text-align: center;
}

#main h1 {
	display: inline-block;
	font-family: "Quicksand";
	letter-spacing: 3px;
	padding-bottom: 30px;
	margin: 70px 0;
	border-bottom: 1px solid #12d2e2;
	color: #686868;
}

#main p {
	padding-left: 50px;
	padding-right: 50px;
	color:#969696;
}

#main img {
	height: 400px;
	margin-top: 40px;
	margin-bottom: 50px;
	opacity: 0.85;
	
}

/********
  MAIN 2
*********/

#main2-opacity {
	height: 800px;
	position: relative;
}

#main2-img {
	position: absolute;
	width: 100%;
	height: 100%;	
	background-image: url("../img/chefs2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


/********
  MAIN 3
*********/

#main3-opacity {
	height: 800px;
	position: relative;

}

#main3-img {
	position: absolute;
	width: 100%;
	height: 100%;	
	background-image: url("../img/oatmeal.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity: 0.65;
}

#main3-text {
	font-family: "Quicksand";
	position: relative;
	top: 50px;
}

/********
  MAIN 4
*********/

#main4-opacity {
	height: 600px;
	position: relative;
}

#main4-img {
	position: absolute;
	width: 100%;
	height: 100%;	
	background-image: url("../img/quote1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.85;
}

/********
  MAIN 4
*********/

#main5 {
	text-align: center;
	font-family: "Quicksand";
	padding-bottom: 70px;
}

#main5 h1 {
	display: inline-block;
	letter-spacing: 3px;
	padding-bottom: 30px;
	margin: 70px 0;
	border-bottom: 1px solid #12d2e2;
	color: #686868;
}

#main5 h4 {
	color: #969696;
	margin-bottom: 20px;
}

#main5 p {
	color: #969696;
	line-height: 10px;
}

#main5 i {
	color: #12d2e2;
	margin-right: 10px;
}






